*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.f-direction{
    flex-direction: column;
}

.container{
    height: 100vh;
    background-color: #000000;
}

/* contenitore bottoni "header" */

.speaker-view{
    justify-content: end;
}

.but{
    background-color: #4a4a4a;
    border-radius: 5px;
    padding: 5px 7px;
    color: white;
    margin: 5px;
}

.fa-solid{
    color: white;
}

/* contenitore centrale cards */

.cont-centr{
    flex-grow: 2;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem;
    padding: 1.2rem;
}

.cards{
    width: calc(100% / 7);
    padding: 5px;
}

.cards img{
    width: 100%;
}

/* contenitore options/icons */

.options{
    background-color: #222222;
    width: calc(100% / 3);
    justify-content: space-between;
    width: 100%;
}


.opt-right{
    color: red;
    background-color: #4a4a4a;
}